.box-body {
  min-height: 100vh;
  min-width: 100vw;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    width: 300px;
    height: 300px;
    margin: 40px;
    transition: all 0.5s ease-in-out;
    backface-visibility: #222;
    &:hover {
      height: 400px;
    }
    .imgbox {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      img {
        max-height: 100%;
        opacity: 0.1;
        transition: all 0.5 ease-in-out;
      }
    }
    &:hover .imgbox img {
      opacity: 1;
    }
    &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      bottom: -2px;
      right: -2px;
      background: #fff;
      z-index: -2;
      filter: blur(40px);
      background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
    }
    &::after {
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      bottom: -2px;
      right: -2px;
      background: #fff;
      z-index: -2;
      filter: blur(40px);
      background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
    }
    &:nth-child(2)::after,
    &:nth-child(2)::before {
      background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
    }
    &:nth-child(3)::after,
    &:nth-child(3)::before {
      background: linear-gradient(235deg, #772aff, #010615, #2196f3);
    }
    .content {
      position: absolute;
      bottom: 0;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 90px;
      background: rgba(0, 0, 0, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: all 0.5s ease-in-out;
      text-align: center;
      h2 {
        font-size: 20px;
        color: #fff;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 1px;
        span {
          font-size: 14px;
          color: #fff;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 1px;
        }
      }
    }
    &:hover .content {
      opacity: 1;
    }
  }
}
