.cart {
  h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: auto;
    margin-bottom: 2rem;
    margin-top: 3rem;
    width: 100%;
    background-color: rgb(19, 46, 3);
    color: white;
    border: 2px solid rgb(121, 115, 115);
    border-radius: 9px;
    padding: 5px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
  }
  .cart-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    hr {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
  }
  .cart-image {
    img {
      width: 150px;
    }
  }
  .cart-name {
    color: #100e0e;
    font-size: 1.5rem;
    font-weight: 600;
    span {
      background: #222;
      padding: 4px 9px;
      border-radius: 9px;
      color: ghostwhite;
    }
  }
  .cart-price {
    font-size: 1.5rem;
    margin-top: 0.7rem;
    font-family: auto;
    span {
      background: #111;
      padding: 4px 9px;
      border-radius: 9px;
      color: rgb(255, 255, 255);
    }
  }
  .cart-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.3rem;
    .remove,
    .add {
      padding: 5px 1rem;
      border: none;
      border-radius: 7px;
      background: #333;
      color: white;
      font-weight: bold;
      transition: all 0.3s ease-in-out;
      &:hover {
        border: 1px solid #333;
        color: #333;
        cursor: pointer;
        background: transparent;
      }
    }
    .cart-quantity {
      font-size: 2rem;
      background: #fcfc9f;
      padding: 5px 1rem;
      border-radius: 8px;
    }
  }
  .cart-price-total {
    background: #666;
    padding: 4px 1rem;
    border: 1px solid blue;
    border-radius: 9px;
    color: yellow;
    font-size: 1.5rem;
  }
}

.cart-bottom-section {
  font-size: 1.7rem;
  flex-direction: column;
  margin: 0 auto;
  button {
    background: #222;
    color: white;
    border: 1px solid orange;
    border-radius: 8px;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      border: 1px solid #333;
      color: #333;
      cursor: pointer;
      background: transparent;
    }
  }
  .row {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    span {
      background-color: #111;
      color: white;
      padding: 5px 1rem;
      border: 3px solid rgb(39, 145, 1);
      border-radius: 9px;
    }
  }
}

@media screen and (max-width: 800px) {
  .cart-left {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    text-align: center;
  }
  .cart-bottom-section {
    max-width: 80vw;
  }
}
@media screen and (max-width: 600px) {
  .cart-bottom-section {
    max-width: 60vw;
    .row {
      margin-right: 5rem;
      .col-2 {
        margin-right: 5rem;
      }
    }
  }
}
