*,
*::after,
*::before,
body,
body::after,
body::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.shopping-icon {
  position: fixed;
  bottom: 1rem;
  color: black;
  left: 1rem;
  padding:  5px 9px;
  z-index: 5;
  background: rgb(138, 255, 136);
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: transparent;
    border: 2px solid orange;
    color: rgb(57, 43, 43);
  }
}
